@import '../../stylesheets/variables';

.md-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px 24px;
  cursor: pointer;
  font-family: var(--md-sys-typescale-display-large-font);
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s;
  border: none;
  border-radius: 100px;

  &:not(button[disabled]):hover::before,
  &:not(button[disabled]):active::before {
    content: ' ';
    height: 40px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    transition: all 0.3s;
  }

  &_filled {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }

  &_outlined {
    border: 1px solid var(--md-sys-color-outline);
    box-sizing: border-box;
    color: var(--md-sys-color-primary);
    background: transparent;
    padding: 9px 23px;
  }

  &_text {
    color: var(--md-sys-color-primary);
    background: transparent;
  }

  &_elevated {
    box-shadow: 0 1px 2px rgba(0 0 0 / 30%), 0 1px 3px 1px rgba(0 0 0 / 15%);
    background: linear-gradient(0deg, rgba(103 80 164 / 5%), rgba(103 80 164 / 5%)),
      var(--md-sys-color-surface);
    color: var(--md-sys-color-primary);
  }

  &_tonal {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  &_filled:not(button[disabled]):hover {
    box-shadow: 0 1px 2px rgba(0 0 0 / 30%), 0 1px 3px 1px rgba(0 0 0 / 15%);
  }

  &_filled:not(button[disabled]):hover::before {
    background: var(--md-sys-color-on-primary);
    opacity: 0.08;
  }

  &_filled:not(button[disabled]):active::before {
    background: var(--md-sys-color-on-primary);
    opacity: 0.12;
  }

  &_filled--disabled,
  &_elevated--disabled,
  &_tonal--disabled {
    background: rgba(31 31 31 / 12%);
    color: var(--md-sys-color-on-surface);
    opacity: 0.38;
    cursor: not-allowed;
  }

  &_outlined--disabled {
    border: 1px solid rgba(31 31 31 / 12%);
    color: rgba(28 27 31 / 38%);
    cursor: not-allowed;
  }

  &_text--disabled {
    color: var(--md-sys-color-on-surface);
    opacity: 0.38;
    cursor: not-allowed;
  }

  &_elevated:not(button[disabled]):hover {
    background: linear-gradient(0deg, rgba(103 80 164 / 8%), rgba(103 80 164 / 8%)),
      var(--md-sys-color-surface);
  }

  &_elevated:not(button[disabled]):hover::before {
    background: rgba(103 80 164 / 8%);
  }

  &_elevated:not(button[disabled]):active::before {
    background: rgba(103 80 164 / 12%);
  }

  &_text:not(button[disabled]):hover::before {
    display: none;
  }

  &_tonal:not(button[disabled]):hover::before {
    background: var(--md-sys-color-on-secondary-container);
    opacity: 0.08;
  }

  &_tonal:not(button[disabled]):active::before {
    background: var(--md-sys-color-on-secondary-container);
    opacity: 0.12;
  }

  &_text:not(button[disabled]):hover,
  &_outlined:not(button[disabled]):hover::before {
    background: rgba(103 80 164 / 8%);
  }

  &_text:not(button[disabled]):active,
  &_outlined:not(button[disabled]):active::before {
    background: rgba(103 80 164 / 12%);
  }

  &-icon {
    padding-left: 16px;
    gap: 8px;
  }
}
