@use './tokens' as t;

:root {
  --md-ref-typeface-brand-regular: #{t.$md-ref-typeface-brand-regular};
  --md-ref-typeface-weight-regular: #{t.$md-ref-typeface-weight-regular};
  --md-ref-typeface-weight-medium: #{t.$md-ref-typeface-weight-medium};
  --md-sys-color-primary: #6750a4;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-secondary: #625b71;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-background: #fffbfe;
  --md-sys-color-error: #b3261e;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-on-primary-container: #21005e;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-on-secondary-container: #1e192b;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-on-tertiary-container: #370b1e;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-on-error: #fff;
  --md-sys-color-on-error-container: #370b1e;
  --md-sys-color-outline: #79747e;
  --md-sys-color-shadow: #000;
  --md-sys-color-inverse-surface: #313033;
  --md-sys-color-inverse-on-surface: #f4eff4;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-size: 57px;
  --md-sys-typescale-display-large-tracking: 0;
  --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-size: 45px;
  --md-sys-typescale-display-medium-tracking: 0;
  --md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-size: 36px;
  --md-sys-typescale-display-small-tracking: 0;
  --md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-size: 32px;
  --md-sys-typescale-headline-large-tracking: 0;
  --md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-size: 28px;
  --md-sys-typescale-headline-medium-tracking: 0;
  --md-sys-typescale-headline-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-size: 24px;
  --md-sys-typescale-headline-small-tracking: 0;
  --md-sys-typescale-headline-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-size: 22px;
  --md-sys-typescale-title-large-tracking: 0;
  --md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-size: 16px;
  --md-sys-typescale-title-medium-tracking: 0.15;
  --md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-size: 14px;
  --md-sys-typescale-title-small-tracking: 0.1;
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-size: 14px;
  --md-sys-typescale-label-large-tracking: 0.1;
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-size: 12px;
  --md-sys-typescale-label-medium-tracking: 0.5;
  --md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-size: 11px;
  --md-sys-typescale-label-small-tracking: 0.5;
  --md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-size: 16px;
  --md-sys-typescale-body-large-tracking: 0.15;
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-size: 14px;
  --md-sys-typescale-body-medium-tracking: 0.25;
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-medium);
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-size: 12px;
  --md-sys-typescale-body-small-tracking: 0.4;
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-medium);
}
