:root {
  --md-ref-typeface-brand-regular: "Roboto Regular";
  --md-ref-typeface-weight-regular: 400;
  --md-sys-color-primary: #6750a4;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-secondary: #625b71;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-background: #fffbfe;
  --md-sys-color-error: #b3261e;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-on-primary-container: #21005e;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-on-secondary-container: #1e192b;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-on-tertiary-container: #370b1e;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-on-error: #fff;
  --md-sys-color-on-error-container: #370b1e;
  --md-sys-color-outline: #79747e;
  --md-sys-color-shadow: #000;
  --md-sys-color-inverse-surface: #313033;
  --md-sys-color-inverse-on-surface: #f4eff4;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-size: 57px;
  --md-sys-typescale-display-large-tracking: 0;
  --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-size: 45px;
  --md-sys-typescale-display-medium-tracking: 0;
  --md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-size: 36px;
  --md-sys-typescale-display-small-tracking: 0;
  --md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);
}
