@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-primary: #6750a4;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-secondary: #625b71;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-background: #fffbfe;
  --md-sys-color-error: #b3261e;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-on-primary-container: #21005e;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-on-secondary-container: #1e192b;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-on-tertiary-container: #370b1e;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-on-error: #fff;
  --md-sys-color-on-error-container: #370b1e;
  --md-sys-color-outline: #79747e;
  --md-sys-color-shadow: #000;
  --md-sys-color-inverse-surface: #313033;
  --md-sys-color-inverse-on-surface: #f4eff4;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-elevation-box-shadow-1: 0 1px 2px rgba(0 0 0 / 30%);
  --md-sys-elevation-drop-shadow-1: 0 1px 3px 1px rgba(0 0 0 / 15%);
  --md-sys-elevation-box-shadow-2: 0 1px 2px rgba(0 0 0 / 30%);
  --md-sys-elevation-drop-shadow-2: 0 2px 6px 2px rgba(0 0 0 / 15%);
  --md-sys-elevation-box-shadow-3: 0 4px 8px 3px rgba(0 0 0 / 15%);
  --md-sys-elevation-drop-shadow-3: 0 1px 3px rgba(0 0 0 / 30%);
  --md-sys-elevation-box-shadow-4: 0 6px 10px 4px rgba(0 0 0 / 15%);
  --md-sys-elevation-drop-shadow-4: 0 2px 3px rgba(0 0 0 / 30%);
  --md-sys-elevation-box-shadow-5: 0 8px 12px 6px rgba(0 0 0 / 15%);
  --md-sys-elevation-drop-shadow-5: 0 4px 4px rgba(0 0 0 / 30%);
  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-focus-state-layer-opacity: 0.12;
  --md-sys-state-pressed-state-layer-opacity: 0.12;
  --md-sys-typescale-label-large-font: 'Roboto';
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-size: 14px;
  --md-sys-typescale-label-large-weight: 500;
  --md-comp-btn-background-disabled: rgba(31 31 31 / 12%);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2')
    format('woff2');
}

.material-icon {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-btn {
  @apply h-10 w-fit flex relative items-center pl-[16px] pr-[24px] rounded-[100px];
  @apply text-label-large font-label-large;
  @apply disabled:text-on-surface disabled:opacity-38 disabled:shadow-none disabled:drop-shadow-none disabled:cursor-not-allowed;

  @apply before:absolute before:left-0 before:w-full before:h-full before:rounded-[100px];
  @apply before:opacity-0 disabled:before:opacity-0 hover:before:opacity-hover focus:before:opacity-focus active:before:opacity-pressed;
}

.material-btn_elevated {
  @apply bg-surface text-primary;
  @apply shadow-1 drop-shadow-1 hover:shadow-2 hover:drop-shadow-2;

  @apply before:bg-primary;
}

.material-btn_filled {
  @apply bg-primary text-on-primary;

  @apply before:bg-on-primary;
}

.material-btn_tonal {
  @apply bg-secondary-container text-on-secondary-container;

  @apply before:bg-on-secondary-container;
}

.material-btn_filled,
.material-btn_tonal {
  @apply hover:shadow-1 hover:drop-shadow-1;
}

.material-btn_elevated,
.material-btn_filled,
.material-btn_tonal {
  @apply disabled:hover:shadow-none disabled:hover:drop-shadow-none;
}

.material-btn_elevated:disabled,
.material-btn_filled:disabled,
.material-btn_tonal:disabled {
  background-color: var(--md-comp-btn-background-disabled);
}

.material-btn_outlined {
  @apply border border-outline;
  @apply focus:border-primary;
}

.material-btn_text {
  @apply px-3;
}

.material-btn_outlined,
.material-btn_text {
  @apply bg-transparent text-primary;
  @apply before:bg-primary;
}

.material-btn_outlined:disabled {
  border-color: var(--md-comp-btn-background-disabled);
}

.material-btn_text.material-btn--icon {
  @apply pr-4;
}

.material-fab {
  @apply w-14 h-14 rounded-[16px];
  @apply flex items-center justify-center;
  @apply shadow-3 drop-shadow-3 hover:shadow-4 hover:drop-shadow-4;
  @apply disabled:shadow-none disabled:drop-shadow-none;
  @apply disabled:bg-transparent disabled:text-on-surface disabled:opacity-38;

  @apply before:absolute before:w-full before:h-full before:rounded-[16px];
  @apply before:opacity-0 hover:before:opacity-8 focus:before:opacity-12 active:before:opacity-12;
  @apply disabled:before:bg-on-surface disabled:before:opacity-12;
}

.material-fab--surface {
  @apply bg-surface text-primary;

  @apply before:bg-primary;
}

.material-fab--primary {
  @apply bg-primary-container text-on-primary-container;

  @apply before:bg-on-primary-container;
}

.material-fab--secondary {
  @apply bg-secondary-container text-on-secondary-container;

  @apply before:bg-on-secondary-container;
}

.material-fab--tertiary {
  @apply bg-tertiary-container text-on-tertiary-container;

  @apply before:bg-on-tertiary-container;
}

.material-fab--small {
  @apply w-10 h-10 rounded-[14px];

  @apply before:rounded-[14px];
}

.material-fab--large {
  @apply w-24 h-24 rounded-[28px];

  @apply before:rounded-[28px];
}

.material-fab__icon {
  @apply text-[24px];
}

.material-fab--large > .material-fab__icon {
  @apply text-[36px];
}
