/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-colon-newline-after */
:root {
  --md-ref-typeface-brand-regular: "Roboto Regular";
  --md-ref-typeface-weight-regular: 400;
  --md-sys-color-primary: #6750a4;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-secondary: #625b71;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-surface: #fffbfe;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-background: #fffbfe;
  --md-sys-color-error: #b3261e;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-on-primary-container: #21005e;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-on-secondary-container: #1e192b;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-on-tertiary-container: #370b1e;
  --md-sys-color-on-surface: #1c1b1f;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-on-background: #1c1b1f;
  --md-sys-color-on-error: #fff;
  --md-sys-color-on-error-container: #370b1e;
  --md-sys-color-outline: #79747e;
  --md-sys-color-shadow: #000;
  --md-sys-color-inverse-surface: #313033;
  --md-sys-color-inverse-on-surface: #f4eff4;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-size: 57px;
  --md-sys-typescale-display-large-tracking: 0;
  --md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-size: 45px;
  --md-sys-typescale-display-medium-tracking: 0;
  --md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand-regular);
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-size: 36px;
  --md-sys-typescale-display-small-tracking: 0;
  --md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);
}

.md-button {
  position: relative;
  height: 40px;
  padding: 10px 24px;
  cursor: pointer;
  font: var(--md-sys-typescale-display-large-font);
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s;
  border: none;
  border-radius: 100px;
}

.md-button:not(button[disabled]):hover::before,
.md-button:not(button[disabled]):active::before {
  content: " ";
  height: 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  transition: all 0.3s;
}

.md-button_filled {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.md-button_text {
  color: var(--md-sys-color-primary);
  background: transparent;
}

.md-button_elevated {
  box-shadow: 0 1px 2px rgba(0 0 0 / 30%), 0 1px 3px 1px rgba(0 0 0 / 15%);
  background: linear-gradient(0deg, rgba(103 80 164 / 5%), rgba(103 80 164 / 5%)),
    var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
}

.md-button_elevated:not(button[disabled]):hover {
  background: linear-gradient(0deg, rgba(103 80 164 / 8%), rgba(103 80 164 / 8%)),
    var(--md-sys-color-surface);
}

.md-button_elevated:not(button[disabled]):hover::before {
  background: rgba(103 80 164 / 8%);
}

.md-button_elevated:not(button[disabled]):active::before {
  background: rgba(103 80 164 / 12%);
}

.md-button_filled.md-button_filled--disabled,
.md-button_elevated.md-button_elevated--disabled,
.md-button_tonal.md-button_tonal--disabled {
  background: rgba(31 31 31 / 12%);
  color: var(--md-sys-color-on-surface);
  opacity: 0.38;
  cursor: not-allowed;
}

.md-button_filled:not(button[disabled]):hover {
  box-shadow: 0 1px 2px rgba(0 0 0 30%), 0 1px 3px 1px rgba(0 0 0 15%);
}

.md-button_filled:not(button[disabled]):hover::before {
  background: var(--md-sys-color-on-primary);
  opacity: 0.08;
}

.md-button_filled:not(button[disabled]):active::before {
  background: var(--md-sys-color-on-primary);
  opacity: 0.12;
}

.md-button_outlined {
  border: 1px solid var(--md-sys-color-outline);
  box-sizing: border-box;
  color: var(--md-sys-color-primary);
  background: transparent;
  padding: 9px 23px;
}

.md-button_outlined.md-button_outlined--disabled {
  border: 1px solid rgba(31 31 31 / 12%);
  color: rgba(28 27 31 / 38%);
  cursor: not-allowed;
}

.md-button_text:not(button[disabled]):hover,
.md-button_outlined:not(button[disabled]):hover::before {
  background: rgba(103 80 164 / 8%);
}

.md-button_text:not(button[disabled]):active,
.md-button_outlined:not(button[disabled]):active::before {
  background: rgba(103 80 164 / 12%);
}

.md-button_text:not(button[disabled]):hover::before {
  display: none;
}

.md-button_text.md-button_text--disabled {
  color: var(--md-sys-color-on-surface);
  opacity: 0.38;
  cursor: not-allowed;
}

.md-button_tonal {
  background: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.md-button_tonal:not(button[disabled]):hover::before {
  background: var(--md-sys-color-on-secondary-container);
  opacity: 0.08;
}

.md-button_tonal:not(button[disabled]):active::before {
  background: var(--md-sys-color-on-secondary-container);
  opacity: 0.12;
}
